*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Epilogue', sans-serif;
}
.user-select-none{
    user-select: none;
}
/*________________________________________ HEADER START ________________________________________*/
header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.checkbox{
    display: none;
}
.backgroung_menu{
    height: 0;
    width: 0;
}
.nav{
    overflow: hidden;
    color: hsl(0, 0%, 41%);
    z-index: 10;
    width: 0px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: white;
    height: 100vh;
    transition: width 0s ease-in-out;
    
}
/*______________________ MENU-LAYOUT STAR ______________________*/
.nav-content{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav-menu .option_menu{
    display: flex;
    gap: 10px;
    padding: 5px 0;
}
.nav-menu{
    display: grid;
    gap: 20px;
}
.menu_button{
    text-align: center;
    display: grid;
    gap: 5px;
}
.menu_button .button{
    padding: 15px 0;
}
.radio_menu_button_register:checked ~ #button_register ,
.radio_menu_button_login:checked ~ #button_login{
    border: 1px solid;
    border-radius: 15px;
}
/*______________________ MENU-LAYOUT END ______________________*/
.menu_expanded{
    height: 0;
    overflow: hidden;
    display: grid;
    transition: .2s ease-in-out;
}
.menu_expanded-img{
    margin-right: 15px;
}
.expanded-features:focus-within > .menu_expanded , .expanded-company:focus-within > .menu_expanded{
    padding-left: 15px;
    padding-top: 30px;
    gap: 20px;
    height: 200px;
    transition: .2s ease-in-out;
}
/*______________________ MENU-CHECKBOX STAR ______________________*/
#menu_checkbox:checked ~ nav.nav{
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 0;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    transition: width .2s ease-in-out;
}
#menu_checkbox:checked ~ div.backgroung_menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .5; 
    transition: width 0s ease-in-out;
}
#menu_checkbox:checked ~ label.button_open_menu{
    z-index: -1;
    transform: scale(0);
    transition: .2s ease-in-out;
}
#menu_checkbox:checked ~ label.button_close_menu{
    display: grid;

}
/*______________________ MENU-CHECKBOX END ______________________*/
.button_nav{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    place-content: center;
    height: 25px;
    z-index: 11;
    transform: scale(1);
    transition: .2s ease-in-out;
}

.button_open_menu{
    display: grid;  
}

/*________________________________________ HEADER END ________________________________________*/
.banner{
    width: 100vw;
}
.banner img{
    width: inherit;
}
.article{
    text-align: center;
    padding: 25px 20px;
    display: grid;
    gap: 25px;
}
article p{
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
}
.button_learn{
    color: hsl(0, 0%, 98%);
    background-color: black;
    width: max-content;
    margin: auto;
    padding: 15px 25px;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}